@charset "UTF-8";
html{
    scroll-behavior: smooth;
}
body{
    background:#555;

}

    /*header*/
    header{
        color:#fff;
        width: 100%;
        /*min-width: 900px;*/
        min-height: 100vh;
        background-size: cover;
        animation:chg-bg 16s infinite;
        background-image: url(images/DSC_0392.jpg);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*@keyframes chg-bg{
        0%{
            background-image: url(images/arch_bg.png);
            
        }
        20%{
            background-image: url(images/arch_bg2.jpg) ;
        }
        40%{
            background-image: url(images/arch-bg3.png);
        }
        60%{
            background-image: url(images/ii.png);
        }
        80%{
            background-image: url(images/花鳥風月.png);
        }
        100%{
            background-image: url(images/arch_bg.png);
            
        }
    }*/
    .linux_tile{
        margin:0 auto;
        background: rgba(90,50,50,.3);
        width: 60vw;
        height: 70vh;
        backdrop-filter: blur(20px);
        border:#ccc 2px solid;
        border-radius: 2rem;
        font-family: "Space Mono";
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        position: relative;
        padding: 2rem;
        box-shadow: 10px 10px 0px #000 ;
    }
    .tile_bar{
        z-index: 0;
        width: 100%;
        height: 60px;
        border-radius: 2rem 2rem 0 0;
        backdrop-filter: blur(20px);
        position:absolute;
        top:0px;
        left:0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tile_bar p{
    }

    .tile_header{
        z-index: 1;
        padding:0 2rem;
        height: 2rem;
        margin:0 .6rem;
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top:20px;
        left:-10px;
        
    }
    .tile_header div{
        margin:auto 4.4px;
    }
    .header_btn1::before{
        content:"";
        display: inline-block;
        background:rgb(206, 65, 65);
        width:1.3vw;
        height: 1.3vw;
        border-radius: 50%;
    }

    .header_btn2::before{
        content:"";
        display: inline-block;
        background:#74ff49;

        width:1.3vw;
        height: 1.3vw;
        border-radius: 50%;
    }
    
    .header_btn3::before{
        content:"";
        display: inline-block;
        background:#bedf4a;
        width:1.3vw;
        height: 1.3vw;
        border-radius: 50%;
    }
    .tile_bio{
        padding:0 2rem;
        display: flex;
        justify-content: space-around;
    }
    .tile_image{
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .tile_image img{
width: 90%;
    }
    .tile_link{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tile_link li{
        list-style-type: none;
    }
    .tile_link a{
        font-size: 1vw;
        border-bottom: yellow 2px solid;
        color:#fff;
        text-decoration: none;
        margin:0 .5vw;
    }
    .tile_main{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    .tile_title{
        font-size: 2.3vw;
        position: relative;
        color:yellow;
        font-weight: bold;
        margin: 2rem 0 0;
    }
    /*.tile_title::after{
        content:"";
        position:absolute;
        left:-10px;
    }*/
    .dotted{
        margin:1rem 0;
        width:20vw;
        height:.15rem;
        background:repeating-linear-gradient(90deg,#fff, #fff 1rem, transparent 1rem,transparent 1.5rem);
        display:inline-block;
    }
    .tile_ul{
        list-style-type: none;
        justify-content: space-around;
    }
    .tile_ui li{
    }
    .tile_ul p{
        font-size: 1.2vw;
    }
    .row{
        margin:.4rem 0;
        display: flex;

    }
    .row_title{
        color:yellow;
    }
    .tile_konsole{
        margin-left: 2.3vw;
        display: flex;
    }
    .tile_arrow{
        font-size: 1.3vw;
    }
    .tile_flashing{
        width: .5vw;
        height: 1.3vw;
        margin: auto 0;
        animation:0.7s flashing infinite;
    }
    @keyframes flashing{
        0%,100%{background: #fff;
        }
        50%{
            background:none;
        }
        
    }
    .pages{
    }
    .pages_title{

        font-weight: bold;
        font-size: 4rem;
        text-align: left;
        padding-top:3rem;
    }
    .works{

    }
    .works_title{
        color:#fff;
    }
.item img{
    max-width: 100%;
    height: auto;
}
.item{
    border-radius: 10px;
    background: #edf;
    padding: 15px;
    text-align: center;
}
    .grid{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap: 10px;
    }
    .timeline{
        background:linear-gradient(90deg,#CBD5EE,#EEE);
    clip-path: polygon(0 0,100% 10%,100% 90%, 0 100%);
}


.timeline-ul{
    list-style-type:none ;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Zen Kaku Gothic New",sans-serif;
    padding-left: 8rem;
}
.timeline li{
    border-left: 2px solid #fff;
    padding:0 0  2.5rem 2.3rem;
    position: relative;
}
.timeline li::before{
    content:"";
    border-radius: 50%;
    width:19px;
    height: 19px;
    background: linear-gradient(90deg,#CBD5EE,#EEE);
    display: inline-block;
    position:absolute;
    top:10px;
    left:-10.57px;
    border:#fff 2px solid;
}
.timeline-date{
    text-align: left;
    padding:.2rem 0; 
    font-size: 1.2rem;
}
.timeline-content{
    width:74%;
    text-decoration: none;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.3rem;
}
.timeline-content::before{
    content:"";
}
footer{
  padding:30px 0;
  background-color: brown;
  display: flex;
  flex-direction: column;
}
footer p{
  text-align: center;
  color: #daa;
}

.footer-nav{
  list-style-type: none;
  justify-content:center;
  display: flex;
  position:relative;
  margin-bottom:7px;

}
.footer-nav img{
  width: 2vw;
  height: 2vw;
}
.footer-nav li{
  margin:0 9px;
  position: relative;
  top:0px;
}
.footer-nav li:hover{
  top:-10px;
  transition: top .1s;
}
/*
Mobile First
==================================================*/
@media(max-width:600px){

}